{% extends 'common/Base/base.html' %}
{% load filter %}
{% block content %}
    <div class="main">
        <div class="content">
            <div class="group">
                <div class="grid news_desc">
                    <h2 style="text-align: center;">{{ article.title }}  <span style="color: red;"> 【{{ article.type|article_type_value }}】</span></h2>
                    <h4 style="text-align: center;">{{ article.create_time }}</h4>
                    <div style="text-align: left;">
                        {{ article.content|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}{% endblock %}

