{% extends 'common/Base/base.html' %}

{% block title %}重置密码{% endblock %}

{% block content %}

    <div class="login-col login">
        <div class="register-form">
            <section>
                <h2>重 置 密 码</h2>

                {% if errMessage %}
                    <div class="errlist">
                        {{ errMessage }}
                    </div>
                {% endif %}

                <form method="post" action="/account/revise_password/" id="reviseForm">
                    <div>
                        <label><em class="red">*</em>密码：</label>
                        <input name="password" type="password" class="validate[required, minSize[6]]" id="password">
                    </div>
                    <div>
                        <label><em class="red">*</em>重复密码：</label>
                        <input name="password2" type="password" class="validate[required, minSize[6]], equals[password]]">
                    </div>
                    <input type="hidden" name="user_uuid" value="{{ user_uuid }}">
                    <div>
                        <span><input type="submit" value="提交" class="myButton"></span>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
        (function(){
            $(document).ready(function() {
                $('#reviseForm').validationEngine({
                    validationEventTriggers: "blur", //触发的事件
                    inlineValidation: true, //是否及时验证
                    promptPosition: "topRight", //提示所在位置, topLeft, topRight, bottomLeft,  centerRight, bottomRight
                    showOneMessage: true
                });
            })
        })();
    </script>
{% endblock %}