<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>中缆联盟</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}lib/bootstrap-3.3.5/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ STATIC_URL }}css/home.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/images/apple-touch-icon-114x114.png">
</head>

<body>
<!--start-header-section-->
<div class="header-section">
    <div class="continer">
        <img src="{{ STATIC_URL }}img/ad/welcome.jpg">
        <h1>网站正在建设中..<span>!</span></h1>
        <a class="scroll top"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
    </div>
</div>
<!--end header-section-->


<!--start-social-section-->
<div class="social-icons">
    <h3>敬请期待</h3>
    <div class="container">
        <div class="col-md-3 face">
            <p><i class="facebook"> </i></p>
            <h4></h4>
        </div>
        <div class="col-md-3 face">
            <p><i class="twitter"> </i></p>
            <h4></h4>
        </div>
        <div class="col-md-3 face">
            <p><i class="google"> </i></p>
            <h4></h4>
        </div>
        <div class="col-md-3 face">
            <p><i class="beh"> </i></p>
            <h4></h4>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--end-social-section-->


<!--start-footer-section-->
<div class="footer-section">
    <div class="container">
        <div class="footer-top">
            <p>Copyright &copy; 2015</p>
        </div>
    </div>
</div>
<!--end-footer-section-->
</body>

</html>
