@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin:0;padding:0;}
html{-webkit-text-size-adjust:none;}
body, a{color:#333;}
body, button, input, select, textarea{font: 12px/150% Arial,Verdana,"\5b8b\4f53"; color: #666;}
h1, h2, h3, h4, h5, h6{font-size:100%; font-weight:normal;}
address, cite, dfn, em, var{font-style:normal;}
code, kbd, pre, samp{font-family:courier new,courier,monospace;}
ol, ul{list-style:none;}

a{text-decoration:none;}
a:hover{text-decoration:none;color:red;cursor:pointer;}

sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
del{text-decoration:line-through;}
abbr, acronym{border:0;font-variant:normal;}
legend{color:#000;}
fieldset{border:0;}
button, input, select, textarea{font-size:100%;outline:none;}

table{table-layout:fixed;border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
caption,th{text-align:left;}
iframe{display:block;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{display:block;margin:0;padding:0;}
mark{background:#ff0;}

.hide{display:none;}
.show{display:block;}
.dn{ display:none;}
.db{display:block;}

.left, .fl{float:left;}
.right, .fr{float:right;}
.left, .right, .fl, .fr{display: inline;}

.clearfix:after{visibility:hidden;display:block;font-size:0;content:"\20";clear:both;height:0;}
.clearfix{*zoom:1;}

.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after{visibility:hidden;display:block;font-size:0;content:"\20";clear:both;height:0;}
.layout, .main-wrap, .col-sub, .col-extra{*zoom:1;}

input{outline:none;font:12px/1.5 Arial,Verdana,"\5b8b\4f53"; }
input[type="button"],input[type="submit"]{font-family:Arial,Verdana,"\5b8b\4f53";outline:none;cursor:pointer;border:none;}
input{margin: 0em;font: -webkit-small-control;color: initial;letter-spacing: normal;word-spacing: normal;text-transform: none;text-indent: 0px;text-shadow: none;display: inline-block;text-align: start;}
textarea{font-family:Arial,Verdana,"\5b8b\4f53";vertical-align:top;}
textarea:focus{}:focus {outline: 0;}
.placeholder { color: #e5ecc8; }

img{border:none;}
img{vertical-align: top;}

ul.reset{margin:0;padding:0;list-style:none;}
html{overflow-y: scroll;}

/*body{background:#f5f5f5;color:#333;}*/
/*************************/
textarea{font-size: 12px;}
.wt{font-weight: bold;}
.mgAuto{margin:0 auto;}
.m10{margin:10px;}
.m20{margin:20px;}
.m30{margin:30px;}
.m40{margin:40px;}
.m50{margin:50px;}


.ml5{margin-left:5px;}
.ml10{margin-left:10px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}

.mt5{margin-top:5px;}
.mt20{margin-top:20px;}

.mb5{margin-bottom:5px;}


.pd5{padding:5px;}
.pd10{padding:10px;}
.pd15{padding:15px;}
.pd20{padding:20px;}
.pd40{padding:40px;}


.pr5{padding-right:5px;}

.pb5{padding-bottom:5px;}

.pl5{padding-left:5px;}
.pl20{padding-left:20px;}

.pt5{padding-top:5px;}

.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f18{ font-size:18px;}
.f20{ font-size:20px;}
.f24{ font-size:24px;}
.f26{ font-size:26px;}
.f28{ font-size:28px;}
.f30{ font-size:30px;}

.relative{position:relative;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.center{text-align: center;}
.aliRight{text-align: right;}
.aliLeft{text-align: left;}

.pointer{cursor: pointer;}

.h10{height:10px;}
.h50{height:50px;}


.w10{width:10px;}

.lh{line-height: 10px}
.lh40{line-height: 40px}

.hlh{height: 30px; line-height: 30px}


/****/
.c4{color:#444;}
.c3{color:#333;}
.c5{color:#555;}
.c6{color:#666;}
.c7{color:#777;}
.c8{color:#888;}
.c9{color:#999;}
.cf60{color:#ff6600;}
.white{color:#fff;}
.red{color:red;}

.bgf2{background:#f2f2f2;}
.bgf5{background:#f5f5f5;}
.bgf8{background:#f8f8f8;}
.bgf7{background:#f7f7f7;}
.bgf2{background:#f2f2f2;}
.bgccc{background:#ccc;}
.bgffefe8{background:#ffefe8;}
.bgeee{background:#eee;}
.bge5{background:#e5e5e5;}
.bgfff{background:#fff;}
.bgf29102{background:#f29102;}
.bge8f0d9{background:#e8f0d9;}
.bgffe7dd{background:#ffe7dd;}
.bgd9ebff{background:#d9ebff;}
.bgf8dede{background:#f8dede;}
.bg006ce2{background:#006ce2;}

.bg2e86ce{background:#2e86ce;}
.bor2e86ce{border:1px solid #2e86ce;}
.br2e86ce_2{border:2px solid #2e86ce;}

.bgd22222{background:#d22222;}
.bord22222{border:1px solid #d22222;}
.brd22222_2{border:2px solid #d22222;}

.bg007bff{background:#007bff;}
.bor007bff{border:1px solid #007bff;}
.br007bff_2{border:2px solid #007bff;}

.bgff5e1e{background:#ff5e1e;}
.borff5e1e{border:1px solid #ff5e1e;}
.brff5e1e_2{border:2px solid #ff5e1e;}

.bge64100{background:#e64100;}
.bore64100{border:1px solid #e64100;}
.bore64100_2{border:2px solid #e64100;}

.bg005aa0{background:#005aa0;}
.bor005aa0{border:1px solid #005aa0;}
.bor005aa0_2{border:2px solid #005aa0;}

.bg669900{background:#669900;}
.bor669900{border:1px solid #669900;}
.bor669900_2{border:2px solid #669900;}

.bg0063b1{background:#0063b1;}
.bor0063b1{border:1px solid #0063b1;}
.bor0063b1_2{border:2px solid #0063b1;}

.bg0079ca{background:#0079ca;}
.bor0079ca{border:1px solid #0079ca;}
.bor0079ca_2{border:2px solid #0079ca;}

.borb5{border:1px solid #b5b5b5;}/**字母越后颜色越浅**/
.borc3{border:1px solid #c3c3c3;}
.borc5{border:1px solid #c5c5c5;}
.bord5{border:1px solid #d5d5d5;}
.bore5{border:1px solid #e5e5e5;}
.bor666{border:1px solid #666;}
.borLe5{border-left:1px solid #e5e5e5;}
.borTe5{border-top:1px solid #e5e5e5;}
.borRe5{border-right:1px solid #e5e5e5;}
.borBe5{border-bottom:1px solid #e5e5e5;}
.borT1{border-top:1px solid #e5e5e5;}
.borR1{border-right:1px solid #e5e5e5;}
.borB1{border-bottom:1px solid #e5e5e5;}
.borl{border-left:1px solid #e5e5e5;}
.borr{border-right:1px solid #d98202;}

/*base颜色*/
.cd22222{color:#d22222;}
.c0063b1{color:#0063b1;}


.baseLine{border-top:2px solid #b5b5b5;height:0;}
.baseLine1{border-top:2px solid #e5e5e5;height:0;}
.baseLinef1{border-top:2px solid #006ce2;height:0;}
.baseLinef2{border-top:2px solid #1f546f;height:0;}
.baseLinef3{border-top:2px solid #ff7300;height:0;}
.baseLinef4{border-top:2px solid #d22222;height:0;}

.sl{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.borRadius3{border-radius: 3px;}
.b1Deshed1{border:1px dashed #e5e5e5; height:0;}
.text-deLine{text-decoration:underline;}
.hoverBase8 a:hover{color:#0063b1;}
.yahei{font-family:"Microsoft YaHei";}
.heit{font-family:"黑体";}
.verMiddle{vertical-align: middle;}
/**baseCss.end**/
/**footer add erweima**/
.box2{width:270px;height:90px;border:1px solid #dbdbdb;float:left;margin-left:10px;font-family:Microsoft Yahei;background:#fff;}
.cen2{width:265px;margin:0 auto;}
.pp3{margin-top:5px;color:#2671b7;font-size:14px;}
.pp4{color:#838383;margin-top:8px;font-size:13px;}
.pp6{color:#838383;margin-top:5px;font-size:14px;}
.pp5{float:left;width:169px;margin-top:7px;margin-left:10px;}
.buttt{border:1px solid #dbdbdb;height:20px;line-height:20px;width:70px;display:block;text-align:center;margin-top:-10px;}
.pp5 a{text-decoration:none;color:#8e847b;}
/**footer add erweima**/