
.wrapper, .footer{width:1200px;margin-right:auto;margin-left:auto;margin-top:1px;padding:20px 0;z-index:-1;}


/*手机二维码*/
.mobileBox{width:85px;height:10px;padding:5px;position:relative;margin-top:-20px;}
.mobileBox img{width:75px;height:75px;}
.mobileBox a{top:0;right:0;color:#666;border:1px solid #eee;width: 80px;padding-left: 5px;padding-bottom: 2px;}
.mobileBox a span {display:block;width:75px;height:20px;line-height:20px;margin:2px auto 0;font-size:12px;text-align:center;}
.mobileBox b{display:block;position:absolute;top:0;left:-9px;width:20px;height:20px;background:url("/img/del1.png") 0 0 no-repeat;}

/*头部logo*/
.hlogo{width:175px;}
.ltitle{font-family: "Microsoft YaHei"; width:194px; margin-left:6px;}

/*头部搜索*/
.search-header{width:584px; margin-bottom: 100px;}
.search-header input.text{cursor: auto;width: 492px;float: left;height: 20px;padding: 5px;line-height: 20px;background-color: #fff;font-size: 14px;border:none;}
.search-header .button{width: 82px;height: 34px;line-height: 34px;border: none;float: left;color: #fff;font-weight: bold;font-size: 14px;cursor: pointer;}
ul.hotSearch{width: 586px; margin-top:4px;}
ul.hotSearch li{float:left;margin-left:10px;}

/*导航条*/
.navlf{width: 180px; height: 40px;}
.navmiddle{width:780px;height:40px;font-family:"Microsoft YaHei";}
.navmiddle ul li{float:left;margin:0 20px;}
.floorRight a:hover{text-decoration: none;}

/*1F*/
.oneFright{width:225px; border:1px solid #e5e5e5;}
.register a{width:112px;height:50px;line-height: 50px;text-align: center;color:white;}
.notice{height:169px; border-bottom:none;}
.notice li{line-height:24px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 14px;}
.oneFrimg {overflow: hidden; zoom: 1; position: relative; }

.index_img { width:225px;height:180px;margin:auto;position:relative;overflow:hidden;}
.index_img img { width:225px;height:180px; }
.index_img .imgs {width:5000px; height: 180px;}
.index_img .img-wrap { overflow: visible; position: absolute; }
.index_img .next, .index_img .prev { filter: alpha(Opacity=70); opacity: .7; position: absolute; top: 50%; margin-top: -25px; background-color: #303030; z-index: 3; }
.index_img .next:hover, .index_img .prev:hover { background-color: orangered; }
.index_img .next { margin: -25px 0px 0 0; right: 0; }
.index_img .disabled { background-color: #eee; }
.index_img .rightimg { background: #fff; position: absolute; top: 0; left: 0; width: 225px; height: 180px; }
.index_img .active { left: 0; }












/*效果*/
.icon-new{position:absolute;top:-5px;right:-20px;width:29px;height:17px;background:url("/img/new.png") 0 0 no-repeat;z-index:99;}
