<div class="headertop_desc">
    <div class="call">
        <p>
            <a href="/" style="padding-left: 20px;"> 首页 </a> |
        </p>
    </div>
    <div class="account_desc">

        <ul>
        {% if user.is_authenticated %}
            <li><a href="javascript:void(0);">欢迎{{ user.username }} | 中缆联盟</a></li>
            <li><a href="/account/logout_views/">退出</a></li>
        {% else %}
            <li><a href="/account/register/">注册</a></li>
            <li><a href="/account/login/">登录</a></li>
            <li><a href="/account/revise-password/">找回密码</a></li>
        {% endif %}
{#            <li><a href="#"></a></li>#}
{#            <li><a href="#"></a></li>#}
{#            <li><a href="#"></a></li>#}
        </ul>

    </div>
    <div class="clear"></div>
</div>

<div class="header_top">
    <div class="logo">
        <a href="/"><img src="{{ STATIC_URL }}img/home/logo.png" alt=""></a>
    </div>
{#    <div class="cart">#}
{#        <p>Welcome to our Online Store! <span>Cart:</span></p><div id="dd" class="wrapper-dropdown-2"> 0 item(s) - $0.00#}
{#        <ul class="dropdown">#}
{#            <li>you have no items in your Shopping cart</li>#}
{#        </ul></div><p></p>#}
{#    </div>#}

    <div class="clear"></div>
</div>