<div class="header_bottom_left">
    <div class="categories">
        <ul>
            <h3>供应商分类</h3>
            <li>
                <div class="">线缆供应商</div>
            </li>
            <li>
                <div class="">设备供应商</div>
            </li>
            <li>
                <div class="">绝缘供应商</div>
            </li>
            <li>
                <div class="">附件供应商</div>
            </li>
            <li>
                <div class="">导体供应商</div>
            </li>
            <li>
                <div class="">其他合作伙伴</div>
            </li>
        </ul>
{#        <ul>#}
{#            <h3>用途分类</h3>#}
{#            <li>#}
{#                <div class="">电缆现货</div>#}
{#            </li>#}
{#            <li>#}
{#                <div class=""></div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="">网络工程</div>#}
{#            </li>#}
{#            <li>#}
{#                <div class=""></div>#}
{#            </li>#}
{#        </ul>#}
    </div>
</div>