<div class="header_bottom_left">
    <div class="categories">
        <ul>
            <h3>Categories</h3>
            <li>
                <div class="">电缆现货</div>
            </li>
            <li>
                <div class="">家装用线</div>
            </li>
            <li>
                <div class="">网络工程</div>
            </li>
            <li>
                <div class="">开关插座  插线板</div>
            </li>
            <li>
                <div class="">仪器仪表 高低压电器</div>
            </li>
            <li>
                <div class="">金具附件</div>
            </li>
        </ul>
        <ul>
            <h3>用途分类</h3>
            <li>
                <div class="">电缆现货</div>
            </li>
            <li>
                <div class="">家装用线</div>
            </li>
            <li>
                <div class="">网络工程</div>
            </li>
            <li>
                <div class="">开关插座  插线板</div>
            </li>
        </ul>
    </div>
</div>