<div class="main">
<div class="content">
<div class="content_top">
    <div class="heading">
        <h3>产品询价</h3>
    </div>
    <div class="see">
        <p><a href="#">更多</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    <div class="grid_1_of_4 images_1_of_4">
        <a href="/category/detail/E001/"><img src="{{ STATIC_URL }}home_ad/product/cable_wire/200975214712.jpg" width="230px" height="230px" alt=""></a>
        <h2>产品详情 </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">报价</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/category/detail/E001/">详情</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="/category/detail/E001/"><img src="{{ STATIC_URL }}home_ad/product/cable_wire/200975215915.jpg" width="230px" height="230px" alt=""></a>
        <h2>产品详情 </h2>

        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">报价</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/category/detail/E001/">详情</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="/category/detail/E001/"><img src="{{ STATIC_URL }}home_ad/product/cable_wire/2009625120049.jpg" width="230px" height="230px" alt=""></a>
        <h2>产品详情 </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">报价</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/category/detail/E001/">详情</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="/category/detail/E001/"><img src="{{ STATIC_URL }}home_ad/product/cable_wire/201386112946.jpg" width="230px" height="230px" alt=""></a>
        <h2>产品详情 </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">报价</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/category/detail/E001/">详情</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>行业资讯</h3>
    </div>
    <div class="see">
        <p><a href="#">更多</a></p>
    </div>

    <div class="content">
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <div class="HomeTitle2">产业信息</div>
                <div class="HomeNewsList">
                    <ul>
                        <li><span>[电缆] </span><a href="/article/content/2/"
                                                 target="_blank" title="洛阳双瑞万基钛业有限公司动力电缆采购项目招标公告">洛阳双瑞万基钛业有限公司动力电缆采...</a>
                        </li>

                        <li><span>[光缆] </span><a href="/article/content/2/"
                                                 target="_blank" title="龙穴厂区2.5万吨级滑道及总装场地电缆招标公告">龙穴厂区2.5万吨级滑道及总装场地电缆...</a>
                        </li>

                        <li><span>[原料] </span><a href="/article/content/2/"
                                                 target="_blank"
                                                 title="10kV跃进村1、2、3组上市地块电力架空线路迁改工程高低压电力电缆采购招标公告">10kV跃进村1、2、3组上市地块电力架空...</a>
                        </li>

                        <li><span>[橡胶] </span><a href="/article/content/2/"
                                                 target="_blank"
                                                 title="大唐济南长清风电场二期工程升压站及风机基础及集电线路接地材料及安装工程招标公告">大唐济南长清风电场二期工程升压站及...</a>
                        </li>

                        <li><span>[招标] </span><a href="/article/content/2/"
                                                 target="_blank" title="上海市长江西路越江隧道新建工程T3标电缆供货及服务项目公开招标公告">上海市长江西路越江隧道新建工程T3标...</a>
                        </li>

                        <li><span>[企业] </span><a href="/article/content/2/"
                                                 target="_blank" title="江浦街道花卉大道拆迁安置房建设项目室外电缆安装工程的招标公告">江浦街道花卉大道拆迁安置房建设项目...</a>
                        </li>

                        <li><span>[会展] </span><a href="/article/content/2/"
                                                 target="_blank"
                                                 title="广东电网有限责任公司清远供电局清城供电局购置电缆振荡波测试仪等项目专项招标招标公告">广东电网有限责任公司清远供电局清城...</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <div class="HomeTitle2">报刊内参</div>
                <div class="HomeNewsList">
                    <ul>
                        <li><span>[国外] </span><a href="/article/content/2/"
                                                 target="_blank"
                                                 title="2015中国(宁波)国际电线电缆及材料设备展览会暨电缆附件、原辅材料采购交易会">2015中国(宁波)国际电线电缆及材料设备...</a>
                        </li>

                        <li><span>[龙头] </span><a href="/article/content/2/"
                                                 target="_blank" title="2015第十四届中国（青岛）国际电线电缆光纤光缆及电缆附件展览会">2015第十四届中国（青岛）国际电线电缆...</a>
                        </li>

                        <li><span>[项目] </span><a href="/article/content/2/"
                                                 target="_blank" title="第十六届中国金属冶金铜业展">第十六届中国金属冶金铜业展</a></li>

                        <li><span>[会展] </span><a href="/article/content/2/"
                                                 target="_blank"
                                                 title="2015越南胡志明国际电线电缆展览会">2015越南胡志明国际电线电缆展览会</a></li>

                        <li><span>[会展] </span><a href="/article/content/2/"
                                                 target="_blank" title="2015中国(宁波)国际线缆工业展">2015中国(宁波)国际线缆工业展</a>
                        </li>

                        <li><span>[会展] </span><a href="/article/content/2/"
                                                 target="_blank" title="2015年第八届越南国际电力设备与技术展览会">2015年第八届越南国际电力设备与技术展...</a>
                        </li>

                        <li><span>[会展] </span><a href="/article/content/2/"
                                                 target="_blank"
                                                 title="2015法兰克福第七届广州国际线缆展">2015法兰克福第七届广州国际线缆展</a></li>
                    </ul>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <ul>
                    <li>
                        <a href="http://wanma-mm.cn/" target="_blank"><img
                                src="http://www.yilan5.net/userfiles/42b7c1355785441fa60d5ab3f91694b5/images/cms/link/2015/07/422020020394792-10690693-1925-416A-88E9-E5F1248E20B8.jpg"
                                width="250" height="90"></a>
                    </li>
                    <li>
                        <a href="" target="_blank"><img
                                src="http://www.yilan5.net/userfiles/1/images/cms/link/2015/07/20150729143123_da668978-f4.jpg"
                                width="250" height="90"></a>
                    </li>
                    <li>
                        <a href="" target="_blank"><img
                                src="http://www.yilan5.net/userfiles/1771e4df7255409fb2ae8fe2cce6672c/images/cms/link/2015/08/20150807173758_e445b713-38.jpg"
                                width="250" height="90"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    <div class="grid_1_of_4 images_1_of_4">
        <a><img src="{{ STATIC_URL }}home_ad/product/cable_wire/2009625120049.jpg" width="230px" height="230px"
                alt=""></a>

        <h2>产品详情 </h2>

        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">介绍</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="javascript:void(0);">Detail</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a><img src="{{ STATIC_URL }}home_ad/product/cable_wire/2009625120049.jpg" width="230px" height="230px"
                alt=""></a>

        <h2>产品详情 </h2>

        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">介绍</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="javascript:void(0);">Detail</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a><img src="{{ STATIC_URL }}home_ad/product/cable_wire/2009625120049.jpg" width="230px" height="230px"
                alt=""></a>

        <h2>产品详情 </h2>

        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">介绍</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="javascript:void(0);">Detail</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a><img src="{{ STATIC_URL }}home_ad/product/cable_wire/2009625120049.jpg" width="230px" height="230px"
                alt=""></a>

        <h2>产品详情 </h2>

        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">介绍</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="javascript:void(0);">Detail</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>期货走势</h3>
    </div>
    <div class="see">
        <p><a href="#">更多</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>期货走势</h3>
    </div>
    <div class="see">
        <p><a href="#">更多</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>高新成果</h3>
    </div>
    <div class="see">
        <p><a href="#">更多</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>国外情报</h3>
    </div>
    <div class="see">
        <p><a href="#">更多</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>其它</h3>
    </div>
    <div class="see">
        <p><a href="#">更多</a></p>
    </div>
    <div class="clear"></div>
</div>
</div>
</div>