{% load filter %}
<div class="main">
<div class="content">
<div class="content_top">
    <div class="heading">
        <h3>产品询价</h3>
    </div>
    <div class="see">
        <p><a href="#">更多</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    <div class="grid_1_of_4 images_1_of_4">
        <a href="/category/detail/E001/"><img src="{{ STATIC_URL }}home_ad/product/cable_wire/200975214712.jpg" width="230px" height="230px" alt=""></a>
        <h2>产品详情 </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">报价</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/category/detail/E001/">详情</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="/category/detail/E001/"><img src="{{ STATIC_URL }}home_ad/product/cable_wire/200975215915.jpg" width="230px" height="230px" alt=""></a>
        <h2>产品详情 </h2>

        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">报价</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/category/detail/E001/">详情</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="/category/detail/E001/"><img src="{{ STATIC_URL }}home_ad/product/cable_wire/2009625120049.jpg" width="230px" height="230px" alt=""></a>
        <h2>产品详情 </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">报价</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/category/detail/E001/">详情</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="/category/detail/E001/"><img src="{{ STATIC_URL }}home_ad/product/cable_wire/201386112946.jpg" width="230px" height="230px" alt=""></a>
        <h2>产品详情 </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">报价</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/category/detail/E001/">详情</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>行业资讯</h3>
    </div>
    <div class="see">
        <p><a href="#">更多</a></p>
    </div>

    <div class="content">
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <div class="HomeTitle2">产业信息</div>
                <div class="HomeNewsList">
                    <ul>
                        {% for i in iif %}
                            <li>
                                <span>[{{ i.type|article_type_value }}]</span>
                                <a href="{% if i.origin == 1 %}/article/content/{{ i.id }}/{% elif i.origin == 2 %}{{ i.origin_url }}{% endif %}" target="_blank" title="{{ i.title }}">{{ i.title|slice:":15" }}...</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <div class="HomeTitle2">报刊内参</div>
                <div class="HomeNewsList">
                    <ul>
                        {% for p in pct %}
                            <li>
                                <span>[国外]</span>
                                <a href="{% if i.origin == 1 %}/article/content/{{ i.id }}/{% elif i.origin == 2 %}{{ i.origin_url }}{% endif %}" target="_blank" title="{{ p.title }}">{{ p.title|slice:":15" }}...</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <ul>
                    <li>
                        <a href="http://wanma-mm.cn/" target="_blank"><img
                                src="http://www.yilan5.net/userfiles/42b7c1355785441fa60d5ab3f91694b5/images/cms/link/2015/07/422020020394792-10690693-1925-416A-88E9-E5F1248E20B8.jpg"
                                width="250" height="90"></a>
                    </li>
                    <li>
                        <a href="" target="_blank"><img
                                src="http://www.yilan5.net/userfiles/1/images/cms/link/2015/07/20150729143123_da668978-f4.jpg"
                                width="250" height="90"></a>
                    </li>
                    <li>
                        <a href="" target="_blank"><img
                                src="http://www.yilan5.net/userfiles/1771e4df7255409fb2ae8fe2cce6672c/images/cms/link/2015/08/20150807173758_e445b713-38.jpg"
                                width="250" height="90"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    <div class="grid_1_of_4 images_1_of_4">
        <a><img src="{{ STATIC_URL }}home_ad/product/cable_wire/2009625120049.jpg" width="230px" height="230px"
                alt=""></a>

        <h2>产品详情 </h2>

        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">介绍</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="javascript:void(0);">Detail</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a><img src="{{ STATIC_URL }}home_ad/product/cable_wire/2009625120049.jpg" width="230px" height="230px"
                alt=""></a>

        <h2>产品详情 </h2>

        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">介绍</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="javascript:void(0);">Detail</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a><img src="{{ STATIC_URL }}home_ad/product/cable_wire/2009625120049.jpg" width="230px" height="230px"
                alt=""></a>

        <h2>产品详情 </h2>

        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">介绍</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="javascript:void(0);">Detail</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a><img src="{{ STATIC_URL }}home_ad/product/cable_wire/2009625120049.jpg" width="230px" height="230px"
                alt=""></a>

        <h2>产品详情 </h2>

        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">介绍</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="javascript:void(0);">Detail</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>期货走势</h3>
    </div>
    <div class="see">
        <p><a href="#">更多</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>期货走势</h3>
    </div>
    <div class="see">
        <p><a href="#">更多</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>高新成果</h3>
    </div>
    <div class="see">
        <p><a href="#">更多</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>国外情报</h3>
    </div>
    <div class="see">
        <p><a href="#">更多</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="content_bottom">
    <div class="heading">
        <h3>其它</h3>
    </div>
    <div class="see">
        <p><a href="#">更多</a></p>
    </div>
    <div class="clear"></div>
</div>
</div>
</div>